@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca, sans-serif;
}

.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(0, 0%, 75%);
    margin-bottom: 10px;
    margin-top: 10px;
}

.attribution a { 
    font-size: 11px; text-align: center; 
    color: hsl(227, 61%, 28%); 
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.block {
    max-width: 65%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.block p {
    max-width: 95%;
}

.block img {
    width: 64px;
}

.a {
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.a button a {
    text-decoration: none;
    color: hsl(31, 77%, 52%);
}

.b {
    background-color: hsl(184, 100%, 22%);
}

.b button a {
    text-decoration: none;
    color: hsl(184, 100%, 22%);
}

.c {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.c button a {
    text-decoration: none;
    color: hsl(179, 100%, 13%);
}

button {
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 120px;
    line-height: 1.7rem;
    
}

button:focus {
    outline: none;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display, sans-serif;
}

@media (min-width: 600px) {
    .block p {
        max-width: 85%;
    }
}

@media (min-width: 720px) {
    .block p {
        max-width: 72%;
    }
}

@media (min-width: 1300px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 12%;
    }
    .block {
        max-width: 16%;
        height: 390px;
    }
    .a {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
    .c {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .block p {
        max-width: 95%;
        line-height: 1.7rem;
    }
    .block button {
        margin-top: 50px;
    }
    button:hover {
        background-color: transparent;
        box-shadow:0px 0px 0px 2px hsl(0, 0%, 95%) inset;
    }
    button:hover > a {
        color: hsl(0, 0%, 95%);
    }
}
